language: python
sudo: false
os:
  - linux
env:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=py33
before_install:
  - git submodule update --init --recursive
install: pip install tox
script: tox -e $TOX_ENV
notifications:
  email: false
